./.git/objects/pack/pack-5814002dc7b9b7bfa32a96c576bc5cf388ca8891.pack
./.git/objects/c2/5d3af55ae7c1ee687ca04ef24c242fece308d6
./Firmware/STM32-Computer-Firmware/CA7/linux-6.1.82/build/vmlinux
./Firmware/STM32-Computer-Firmware/CA7/linux-6.1.82/build/vmlinux.o
